@import 'tailwindcss';

@layer base {
  html {
    line-height: 1.5;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
  }

  ul,
  ol {
    padding-left: 1.5em;
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style: none;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
